.App {
  max-width: 860px;
  margin: 0 auto;
  border: 1px solid #023047;
  border-radius: 15px;
  margin-top: 20px;
  background-color: #8ecae6;
}

.container {
  padding: 30px;
}

h1 {
  color: #023047;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
  color: #023047;
  font-size: 20px;
}

.form-check-input {
  margin-right: 10px;
}

#form-input {
  width: 400px;
  height: 35px;
  border: 1px solid #023047;
  border-radius: 4px;
}

input.btn-add-item {
  margin-top: 28px;
  width: 100px;
  border: 1px solid #023047;
  border-radius: 4px;
  height: 35px;
  background-color: #219ebc;
  color: white;
  font-size: 20px;
}

.btn-delete-item {
  border: 1px solid #fb8500;
  border-radius: 4px;
  color: #8ecae6;
  background-color: #023047;

}

form {
  margin-bottom: 40px;
}

.name-item {
  color: #023047;
}